<?xml version="1.0" encoding="UTF-8"?>
<plugin
        id="lt.jgreibus.magicdraw.redmine.trackerIntegrationManager"
        name="MagicDraw and Issue Tracker intgeration plugin"
        version="1.0"
        provider-name="justasg.com"
        class="lt.jgreibus.magicdraw.redmine.plugin.Main">

    <requires>
        <api version="1.2"/>
    </requires>

    <runtime>
        <library name="lt.jgreibus.magicdraw.redmine.trackerIntegrationManager.jar"/>
    </runtime>
</plugin>
a